html,body,main {
    height: 100%;
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

/* 見出し */
.title {
    /* height: 150px; */
    text-align: center;
    background-color: #89fdcd;
}
.title h1, .title p{
    margin: 0;
    padding: 0.2em 0;
}
.client-count {
    position: absolute;
    top: 0;
}
/* 名前入力 */
#name-post {
    text-align: center;
    display: block;
}

/* ルーム名・名前入力 */
#name-post input{
    margin: 10px;
    border: #b588fc 2px solid;
    border-radius: 0.5em;
    font-size: 2em;
}
#name-post button{
    margin: 10px;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #b588fc;
    color: #ffffff;
    font-size: 2em;
}


/**
 * チャット
 */
/* チャットを見る場所 */
#chat-box {
    text-align: center;
    display: none;
    flex: 1;
    overflow: auto;
    position: relative;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    padding: 10px 20px 20px 10px;
}
.chat-main-box {
    width: 500px;
    flex: 1;
    position: relative;
    overflow-y: scroll;
    margin: 10px auto auto auto;
    border-radius: 0.5em;
    border: #b588fc 1px solid;
}
@media (max-width: 767px) {
    .chat-main-box {
        width: 100%;
    }
}


#msglist {
    width: 100%;
    /* margin: 0 20px 10px 10px; */
}
.chat-icon-box {
    width: 60px;
}
.chat-icon {
    margin: 10px auto auto auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #b588fc;
}
.chat-text {
    margin: 0;
    position: relative;
    display:inline-block;
    padding: 5px;
    font-size: 1.3em;
    border-radius: 0.5em;
    background-color: #89fdcd;
}
.text-left {
    vertical-align: bottom;
    padding-right: 1.5em;
    text-align: left;
}
.text-left .chat-text:before {
    content: "";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -7px;
    border: 7px solid transparent;
    border-right: 7px solid #89fdcd;
}

.text-right {
    vertical-align: bottom;
    padding-left: 1.5em;
    text-align: right;
}
.text-right .chat-text:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 100%;
    margin-top: -7px;
    border: 7px solid transparent;
    border-left: 7px solid #89fdcd;
}

/* メッセージ入力 */
#frm-post {
    width: 500px;
    height: 40px;
    margin: 0 auto 0 auto;
    padding-top: 0.1em;
    display: flex;
}
@media (max-width: 767px) {
    #frm-post {
        width: 100%;
    }
}
#frm-post input{
    /* width: 87%; */
    flex: 1;
    height: 100%;
    padding: 0;
    border: #b588fc 2px solid;
    border-radius: 0.5em;
    font-size: 1.5em;
}
#frm-post input:focus {
    background-color: #ffc;
    outline: none; /* ※ブラウザが標準で付加する線を消したいとき */
}
#frm-post button{
    width: 50px;
    height: 100%;
    margin-left: 5px;
    padding: 0;
    border-radius: 0.5em;
    background-color: #b588fc;
    color: #ffffff;
}