html,body,main {
    height: 100%;
    padding: 0;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

/* 見出し */
.title {
    height: 120px;
    text-align: center;
    background-color: #89fdcd;
    position: fixed;
    top: 0;
    width: 100%;
}
.title h1, .title p{
    margin: 0;
    padding: 3px 0;
}
.client-count {
    position: absolute;
    top: 0;
}
#room-name {
    font-weight: bold;
}
.par-name {
    border-radius: 0.5em;
    background-color: #fccc88;
    padding: 2px 5px 2px 5px;
    margin-left: 2px;
}
.par-myname {
    border: #cc88fc 2px solid;
}

/* 名前入力 */
#name-post {
    position: fixed;
    top: 120px;
    width: 100%;

    text-align: center;
    display: block;
}

/* ルーム名・名前入力 */
#name-post input{
    margin: 10px;
    border: #cc88fc 2px solid;
    border-radius: 0.5em;
    font-size: 2em;
}
#name-post input:focus {
    background-color: #ffc;
    outline: none; /* ※ブラウザが標準で付加する線を消したいとき */
}

#name-post button{
    margin: 10px;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #cc88fc;
    color: #ffffff;
    font-size: 2em;
}


/**
 * チャット
 */
/* チャットを見る場所 */
#chat-box {
    text-align: center;
    display: none;
    flex: 1;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    box-sizing: border-box;
    top: 120px;
}
.chat-main-box {
    width: 500px;
    flex: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto auto auto auto;
    border-radius: 0.5em;
    border: #cc88fc 2px solid;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
    .chat-main-box {
        width: 100%;
    }
}


#msglist {
    width: 100%;
    /* margin: 0 20px 10px 10px; */
}
.chat-icon-box {
    width: 40px;
}
.chat-icon {
    margin: 20px auto auto auto;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #cc88fc;
}
.emit-time {
    color: #777777;
    font-size: 0.8em;
}
.chat-text {
    margin: 0;
    position: relative;
    display:inline-block;
    padding: 5px;
    font-size: 1.3em;
    border-radius: 0.5em;
    /* background-color: #89fdcd; */
    background: linear-gradient(180deg, #89fdcd 70%, #7CE6BA 120%);
}
.text-left {
    vertical-align: bottom;
    padding-right: 1.5em;
    text-align: left;
}
.text-left .chat-text:before {
    content: "";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -7px;
    border: 7px solid transparent;
    border-right: 7px solid #89fdcd;
}

.text-right {
    vertical-align: bottom;
    padding: 0 0.5em 0 1.5em;
    text-align: right;
}
.text-right .chat-text:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 100%;
    margin-top: -7px;
    border: 7px solid transparent;
    border-left: 7px solid #89fdcd;
}

/* メッセージ入力 */
#frm-post {
    width: 500px;
    height: 40px;
    margin: 5px auto 0 auto;
    /* padding-top: 0.1em; */
    display: flex;
}
@media (max-width: 767px) {
    #frm-post {
        width: 100%;
    }
}
#frm-post input{
    /* width: 87%; */
    flex: 1;
    height: 100%;
    padding: 0;
    border: #cc88fc 2px solid;
    border-radius: 0.5em;
    font-size: 1.5em;
    box-sizing: border-box;
}
#frm-post input:focus {
    background-color: #ffc;
    outline: none; /* ※ブラウザが標準で付加する線を消したいとき */
}
#frm-post button{
    width: 50px;
    height: 100%;
    margin-left: 5px;
    padding: 0;
    border: #cc88fc 2px solid;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.submit-button {
    background-color: #cc88fc;
    color: #ffffff;
}